<section class="product">
  <h2><%= link_to product.name, store_product_path(product) %></h2>
  <p class="price">
    <%= number_to_currency product.price %>
  </p>
  <% if product.image_filename %>
    <p><%= image_tag product.image_filename, :width => '150' %></p>
  <% end %>
  <div class="description">
    <%= product.description %>
  </div>
  <% if product.category %>
    <p>
      <strong>Category:</strong> <%= product.category.name %>
    </p>
  <% end %>
</section>